@model Models.Device

<div class="classic-add-container">
    <form asp-controller="Create" asp-action="CreateDevice">
        <label>Производитель</label>
        <input asp-for=manufacturer type="text" />
        <label>Серийный номер</label>
        <input asp-for=serialnumber type="text" />
        <label>Описание</label>
        <input asp-for=devicedescription type="text" />
        <button type="submit">Создать</button>
    </form>
</div>
