@model Models.User
@{
	ViewData["Title"] = "Админ панель";
}
<body>
<div class="div-inline">
	@await Component.InvokeAsync(nameof(Components.CreateUser));
</div>
<div class="div-inline">
	@await Component.InvokeAsync(nameof(Components.CreateDevice));
</div>
<div class="div-inline">
	@await Component.InvokeAsync(nameof(Components.CreateTask));
	</div>
	<div class="div-inline">
		@await Component.InvokeAsync(nameof(Components.CreatePart));
	</div>
<div>
	@await Component.InvokeAsync(nameof(Components.TaskList), false);
</div>
</body>