@model List<Models.TaskViewModel>
@{
    ViewData["Title"] = "Список задач";
}


<div>
    @foreach (var task in Model)
    {
        <div class="task-element">
            <label>Описание проблемы: @task.problemdescription
            </label>
            <label>Дата добавления: @task.createdate
            </label>
            <label>Прошлый рабочий: @task.lastworker
            </label>
        </div>
        <label class="hidden">
            Состояние техники
            @foreach (string image in task.images)
            {
                <img src=@image alt="content" height="100" />
            }
        </label>
    }
</div>
