@model List<Models.TaskViewModel>
@{
    ViewData["Title"] = "Список задач";
}


<div>
    @foreach (var task in Model)
    {
        <div class>
            <label>Описание проблемы</label>
            <p>@task.problemdescription</p>
            <label>Дата добавления</label>
            <p>@task.createdate</p>
            <label>Прошлый рабочий</label>
            <p>@task.lastworker</p>
            <label>Состояние техники</label>
            @foreach (string image in task.images)
            {
                <img src=@image alt="content" height="100"/>
            }
        </div>
    }
</div>
