@model Models.User
@{
	ViewData["Title"] = "Панель редактирования";
}
<body>
	@if (User.Claims.ToList().Last().Value.ToLower() == "admin")
	{
	<div class="classic-add-container">
		@await Component.InvokeAsync(nameof(Components.AlterPanel.AlterUser))
	</div>
	<div class="classic-add-container">
		@await Component.InvokeAsync(nameof(Components.AlterPanel.AlterDevice))
	</div>
	<div class="classic-add-container">
		@await Component.InvokeAsync(nameof(Components.AlterPanel.AlterRepairType))
	</div>
	<div class="classic-add-container">
		@await Component.InvokeAsync(nameof(Components.AlterPanel.AlterTask))
	</div>
	<div class="classic-add-container">
		@await Component.InvokeAsync(nameof(Components.AlterPanel.AlterPart))
	</div>
	<div class="classic-add-container">
		@await Component.InvokeAsync(nameof(Components.AlterPanel.AlterUserType))
	</div>
	}
	else if(User.Claims.ToList().Last().Value.ToLower() == "manager")
	{
		<div class="classic-add-container">
			@await Component.InvokeAsync(nameof(Components.AlterPanel.AlterUser))
		</div>
		<div class="classic-add-container">
			@await Component.InvokeAsync(nameof(Components.AlterPanel.AlterDevice))
		</div>
		<div class="classic-add-container">
			@await Component.InvokeAsync(nameof(Components.AlterPanel.AlterTask))
		</div>
	}
</body>