@model Models.User
@{
		ViewData["Title"] = "Панель создания";
}
@if (User.Claims.ToList().Last().Value.ToLower() == "admin")
{
	<body>
		<div class="div-inline">
			@await Component.InvokeAsync(nameof(Components.CreatePanel.CreateUser))
		</div>
		<div class="div-inline">
			@await Component.InvokeAsync(nameof(Components.CreatePanel.CreateDevice))
		</div>
		<div class="div-inline">
			@await Component.InvokeAsync(nameof(Components.CreatePanel.CreateTask))
		</div>
		<div class="div-inline">
			@await Component.InvokeAsync(nameof(Components.CreatePanel.CreatePart))
		</div>
		<div class="div-inline">
			@await Component.InvokeAsync(nameof(Components.CreatePanel.CreateRepairType))
		</div>
		<div class="div-inline">
			@await Component.InvokeAsync(nameof(Components.CreatePanel.CreateUserType))
		</div>
	</body>
}
else if (User.Claims.ToList().Last().Value.ToLower() == "manager")
{
	<body>
		<div class="div-inline">
			@await Component.InvokeAsync(nameof(Components.CreatePanel.CreateUser))
		</div>
		<div class="div-inline">
			@await Component.InvokeAsync(nameof(Components.CreatePanel.CreateDevice))
		</div>
		<div class="div-inline">
			@await Component.InvokeAsync(nameof(Components.CreatePanel.CreateTask))
		</div>
		<div class="div-inline">
			@await Component.InvokeAsync(nameof(Components.CreatePanel.CreateTask))
		</div>
		<div>
			@await Component.InvokeAsync(nameof(Components.PurchaseOrdersList));
		</div>
	</body>
}