@model Models.WareHouseViewModel
@{
    ViewData["Title"] = "Склад";
}
<div class="classic-add-container">
    <form asp-controller="WorkPanel" asp-action="TakeParts">
        <label>Тип детали:</label>
        <select multiple asp-for=partid asp-items="ViewBag.Parts" placeholder="select members"></select>
        <label>Выбор ремонта:</label>
        <select asp-for=taskorderid asp-items="ViewBag.Tasks" placeholder="select members"></select>
        <lable>Количество:</lable>
        <input asp-for=partscount type="number" />
        <button type="submit">Взять со склада</button>
    </form>
</div>
    