@model List<Models.TaskViewModel>
@{
    ViewData["Title"] = "Список задач";
}


<div class="tasklist">
    @foreach (var task in Model)
    {
        <div class="task-element">
            <label>Описание проблемы: @task.problemdescription
            </label>
            <label>Дата добавления: @task.createdate
            </label>
            <label>Прошлый рабочий: @task.lastworker
            </label>
            <br>
                <label>
                    Состояние техники
                </label>
                @foreach (string image in task.images)
                {
                    <img src=@image alt="content" height="100" />
                }
                @if (task.taken)
                {
                    <form asp-controller="WorkPanel" asp-action="CancelTask">
                        <button name="taskid" value=@task.taskorderid type="submit">Отказаться от заказа</button>
                </form>
                <form asp-controller="WorkPanel" asp-action="CloseTask">
                    <button name="taskid" value=@task.taskorderid type="submit">Закрыть заказ</button>
                </form>
                }
                else
                {
                    <form asp-controller="WorkPanel" asp-action="TakeTask" method="post">
                    <button name="taskid" value=@task.taskorderid type="submit">Взять задачу</button>
                    </form>
                }
        </div>
    }
</div>
