@model CompServiceApplication.Models.RepairType
@{
    ViewData["Title"] = "добавление типа работы";
}
<form asp-controller="CreatePanel" asp-action="CreateRepairType">
        <label>Описание типа работы</label>
        <input asp-for="repairdescription" type="text" />
        <label>Стоимость ремонта</label>
        <input asp-for="repaircost" type="number" />
        <button type="submit">Добавить</button>
    </form>