@model Models.Device

    <form asp-controller="CreatePanel" asp-action="CreateDevice">
        <label>Производитель</label>
        <input asp-for=manufacturer type="text" />
        <label>Модель</label>
        <input asp-for=model type="text" />
        <label>Описание</label>
        <input asp-for=devicedescription type="text" />
        <button type="submit">Создать</button>
    </form>
