@model CompServiceApplication.Models.RepairType
@{
    ViewData["Title"] = "добавление типа работы";
}
<body>
    <form asp-controller="AlterPanel" asp-action="AlterRepairType">
        <select asp-for=repairid asp-items="ViewBag.RepairTypes"></select>
        <label>Описание типа работы</label>
        <input asp-for="repairdescription" type="text" />
        <label>Стоимость ремонта</label>
        <input asp-for="repaircost" type="number" />
        <button type="submit">Обновить</button>
    </form>
</body>
