@model Models.User
@{
	ViewData["Title"] = "Авторизация";
}

<div class="login-container">
	<form asp-controller="Authorization" asp-action="Login">
		<label>Имя пользователя</label>
		<input asp-for=userlogin type="text" />
		<label>Пароль</label>
		<input asp-for=userpassword type="password" />
		<button type="submit">Вход</button>
	</form>
</div>
